{{!-- {{#each data}}
  <p>{{this.name}} {{this.last}}</p>
{{/each}} --}}

{{!-- <h1>{{title}}</h1>
{{#each data}}
  <p>Name: {{this.name}}</p>
  <p>Last Name: {{this.last}}</p>
{{/each}} --}}

<p>Name: {{data.name}}</p>
<p>Last Name: {{data.last}}</p>

{{!-- Safe nested ifs that don't require custom helpers --}}
{{!-- Check equality using the registered helper `eq` --}}
{{#if (eq data.name "zeven")}}
  <p>Welcome zeven!</p>
{{else}}
  <p>Who are you?</p>
{{/if}}


